/* Entire Body Styles */
body {
	width: 1024px;
	margin: 0 auto;
	padding: 0;
}
#container {
	width: 1024px;
	height: 768px;
}

/* Header Styles */
#header {
	background-color: #B0B0B0;
	width: 1024px;
	height: 100px;
}
#logo {
	height: 60px;
	padding-left: 15px;
	padding-top: 20px;
	float: left;
}
h1 {
	padding-left: 230px;
	padding-top: 25px;
	font-size: 50px;
	font-family: georgia, serif;
}

/* Navigation Bar Styles */
#navigation {
	height: 30px;
	width: 1024px;
	background-color: #E0E0E0;
	text-align: center;
	padding-top: 15px;
}
a.navigation {
	color: #000000;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
}
a.active {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Footer Styles */
#footer {
	background-color: #B0B0B0;
	width: 1024px;
	height: 30px;
	font-size:10px;
	text-align: center;
	font-family: verdana, sans-serif;
}