#list{
	background-color: #D0D0D0;
	margin:0px;
	padding:0px;
	height: 548px;
	width: 1024px;
}
div.box{
	margin:0px;
	width:25%;
	height:50%;
	float:left;
	border:1px;
}

div.boxcontent{
	margin-top:5%;
	margin-left:5%;
	width:90%;
	height:90%;
}

div.itemtitle{
	text-align:center;
	height:10%;
	color:black;
}

div.itemimage{
	margin-top:5%;
	margin-left:5%;
	width:90%;
	height:50%;
}

h3 {
	margin:0px;
}

p{
	margin-top:5%;
	margin-left:5%;
	width:90%;
}