<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="/css/admin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
<header  class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="icon-reorder"></i>
        </button>
        <a class="navbar-brand" href="#">
            Brand
        </a>
    </div>
    <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a href="#" id="nbAcctDD" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>Username<i class="icon-sort-down"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
            <li><a href="/account/logout">Log Out</a></li>
        </ul>
    </nav>
</header>
<div id="wrapper">
    <div id="sidebar-wrapper" class="col-md-2">
        <div id="sidebar">
            <ul class="nav nav-stacked" id="sidebar">
                <li>
                    <a href="/admin"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a  href="/admin/posts"><i class="fa fa-mail"></i>Posts</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-wrapper" class="col-md-10 pull-right">
        <div id="main">
            <%- body %>
       </div>
    </div>
</div>
</body>