
    <div id="content">
        <h1><%= title %></h1>

        <div>
            <% for(var i=0; i<images.length; i++) {%>
            <a  href="<%= images[i].url %>" data-lightbox="gallery">
                <img src="<%= images[i].urlThumb %>" alt="" /></a>
            <% } %>
        </div>
        <div>
            <h2>Basic</h2>
            <ul class="" id="">
                <% for(var i=0; i<images.length; i++) {%>
                <li class=""><a href="<%= images[i].url %>" ><img src="<%= images[i].urlThumb %>" /></a></li>
                <% } %>
            </ul>
        </div>
    </div>
