<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    
	<script src="/js/script.js"></script>    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <!-- Style sheet link -->
    <link href="/css/base.css" rel="stylesheet" media="all">
    <link href="/css/menu.css" rel="stylesheet" media="all">
    <link href="/css/debug-media.css" rel="stylesheet" media="all">
</head>
<body>
<%
//Debug
//console.log(JSON.stringify(data));

%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<h2><a href="/">Homepage</a> </h2>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default active" onclick="changeListItemDisplay('inline', this)"><i class="fa fa-list"></i> Inline</button>
                <button type="button" class="btn btn-default" onclick="changeListItemDisplay('box', this)"><i class="fa fa-th-large"></i> Box</button>
            </div>
<ul id="mainList" class="list-items ">
    <%
    for(var i=0; i<data.length; i++) {
        var post = data[i];
    %>
    <li>
            <article class="item row">
            	<div class="content">
            <h2><%= post.heading  %> </h2>

			

            <% if(post.type == "picture"){
            %>
                <img src="<%=post.imgUrl%>" />
            <%}%>
            
            <% if(post.type == "link"){
            %>
                <a href="<%=post.linkUrl%>" ><%=post.linkUrl%></a>
            <%}%>
            <p><%=post.datePublished%></p>
            	</div>
            </article>
        </li>
    <% } %>
</ul>
</body>
</html>
