


<div class="page-header">
    <h3>Admin</h3>
</div>
<div class="section">
    <div class="row">
        <div class="col-md-12 ">
            <h1>Create Post</h1>
            <div>
                <form action="/admin/posts" method="post">
                    <label>Title  <input name="title" type="text" /></label>
					<label>Author <input name="author" type="text" /></label>
					<label>Nickname <input name="nickname" type="text" /></label>
                    <label>Slug  <input name="slug" type="text" /></label>
                    <label>Type
                        <select name="type">
                            <option value="news">News</option>
                            <option value="link">Link</option>
                            <option value="image">Image</option>
                        </select>
                    </label>
                    <label>Content  <textarea name="post"></textarea></label>
                    <button type="submit">Save Post</button>
                </form>
            </div>

        </div>
    </div>
</div><!-- End Container -->