<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Website</h2>
            <p>This is a sample of what can be build using bootstrap. </p>
        </div>
    </div>
</section>