
<head>
<script src="/scripts/register.js"></script>
</head>
<div class="page-header">
    <h3>Admin</h3>
</div>
<div class="section">
	<div class="col-md-12 ">
		<h1>Register</h1>
		<div>
			<form name="registerForm" action="/register" method="post">
				<label>Username  <input name="username" type="text" /></label>
				<label>Password <input name="password" type="password" /></label>
				<label>Email <input name="email" type="text" /></label>
				<button onclick="register()">Register</button>
			</form>
		</div>

	</div>
</div><!-- End Container -->